<h1>Upload image</h1>

<div class="container">

  <h4 class="text-info ">Select image to uplaod</h4><br>

  <input type="file" (change)="getFileData($event)" >
  <br><br>
  <button type="submit" (click)="uploadFile()" class="btn-success">Upload</button>

</div>

<div class="container">

  <h3> Image From Db </h3>

  <label> Enter Image Id </label><br>
  <input type="text" [(ngModel)]="imageId" ><br><br>

  <button type="submit" (click)="getimage()" class="btn-success">Get Image</button>

  <img [src]="imagereceived">




</div>